@page
@model ATMManagementApp.Pages.ATMs.EditModel
@{
}

<br />
<h2>Edit ATM</h2>

@if (Model.errorMessage.Length > 0)
{
    <div class='alert alert-warning alery-dismissible fade show' role='alert'>
        <strong>@Model.errorMessage</strong>
        <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
    </div>
}
<form method="POST">
    <input type="hidden" name="atmCode" value="@Model.atmInfo.atmCode" />
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">FI Number</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="FINumber" value="" />
        </div>

    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">ATM Name</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="atmName" value="" />
        </div>

    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">ATM Address</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="atmAddress" value="" />
        </div>

    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">ATM Type</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="atmType" value="" />
        </div>

    </div>

    @if (Model.successMessage.Length > 0)
    {
        <div class="row mb-3">
            <div class='alert alert-success alert dismissable fade show' role='alert'>
                <strong>@Model.successMessage</strong>
                <button type='button' class="btn-close" data-bs-dismiss='alert' aria-label='Close'></button>
            </div>
        </div>
    }
    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/" role="button">Cancel</a>
        </div>

</form>
